

<div class ="title" align="center">
<h1>Share your information with other Tourist!</h1>
</div>
<nav>
    <ul>
    <div class = "menu" align="center">

            
            <a href="/image">Image</a><br>
            <a href="/chatting">ShareInfo</a><br>
            <a href="/add">AddImage</a><br>
            <a href="/profile">Profile</a><br>
            

        <img src="/images/main.jpg" align="center" width="400" height="400" title="My face">
    </div>
</ul>
</nav>
