<h1>Website for traveler</h1>
<nav>
    <ul>
    <div class = "menu">
       
        <a href="/profile">Profile</a><br>
        <a href="/image">Image</a><br>
        <a href="/add">AddImage</a><br>
        <a href="/chatting">Chatting</a><br>
        
        <img src="/images/main.jpg" align="center" width="200" height="200" title="My face">
    </div>
</ul>
</nav>
