<!DOCTYPE html>
<html>
<head>
<title>Hello</title>
</head>
<body>
    <title>Share your travel Information!</title>
    <link rel="stylesheet" href ="css/bootstrap.css">
     <h1>Share your travel Information!</h1>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Number</th>
            <th>Title</th>
            <th>Author</th>
            <th>Date</th>
            <th>Count</th>    
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>1</td>    
            <td>Canada!</td>
            <td>Henry</td>
            <td>2017.06.08</td>
            <td>5</td>
        </tr>
        <tr>
            <td>2</td>    
            <td>Japan</td>
            <td>John</td>
            <td>2017.06.08</td>
            <td>10</td>
        </tr>
        <tr>
            <td>3</td>    
            <td>Peru</td>
            <td>Kate</td>
            <td>2017.06.08</td>
            <td>15</td>
        </tr>
        </tbody>
    </table>
    <a class="btn btn-default">Add</a>
    <div class="text-center">
        <ul class="pagination">
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>        
        </ul>
    
    </div>
    
    <br>
    <br>
    <h1>Chatting with people!</h1>
<font size="5">Name :</font>&nbsp;&nbsp;<input type="text" name="name" />
        <br>
        <br>
        <input type='BUTTON' value='Join' />
    
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="js/bootstrap.js"></script>
</body>
</html>