<!DOCTYPE html>
<html>
<head>
<title>Hello</title>
</head>
<body>
    <link rel="stylesheet" type="text/css" href="css/style.css">
<h1>Chatting!</h1>
<font size="5">Name :</font>&nbsp;&nbsp;<input type="text" name="name" />
        <br>
        <br>
        <input type='BUTTON' value='Join' />
</body>
</html>