<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
       <link rel="stylesheet" type="text/css" href="css/style.css">
    <div class = "image">
       
        <div align="center">
             Image1 <br><br>
       <img src="/images/image1.jpg" width="200" height="200" title="My face">
    <img src="/images/image2.jpg" width="200" height="200" title="My face">
    <img src="/images/image3.jpg" width="200" height="200" title="My face">
    <img src="/images/image4.jpg" width="200" height="200" title="My face">
    <img src="/images/image5.jpg" width="200" height="200" title="My face">
    <img src="/images/image6.jpg" width="200" height="200" title="My face">
    <img src="/images/image7.jpg" width="200" height="200" title="My face">
    <img src="/images/image8.jpg" width="200" height="200" title="My face">
    <img src="/images/image9.jpg" width="200" height="200" title="My face">
    <img src="/images/image10.jpg" width="200" height="200" title="My face">
    <img src="/images/image11.jpg" width="200" height="200" title="My face">
    <img src="/images/image12.jpg" width="200" height="200" title="My face">
        </div>
        <div align="center">
       Image2 <br><br>  
       <img src="/images/image13.jpg" width="200" height="200" title="My face">
    <img src="/images/image14.jpg" width="200" height="200" title="My face">
    <img src="/images/image15.jpg" width="200" height="200" title="My face">
    <img src="/images/image16.jpg" width="200" height="200" title="My face">
    <img src="/images/image17.jpg" width="200" height="200" title="My face">
    <img src="/images/image18.jpg" width="200" height="200" title="My face">
    <img src="/images/image19.jpg" width="200" height="200" title="My face">
    <img src="/images/image20.jpg" width="200" height="200" title="My face">
    <img src="/images/image21.jpg" width="200" height="200" title="My face">
    <img src="/images/image22.jpg" width="200" height="200" title="My face">
    <img src="/images/image23.jpg" width="200" height="200" title="My face">
    <img src="/images/image24.jpg" width="200" height="200" title="My face">
    </div>
      </div>
  </body>
</html>