<!DOCTYPE html>
<html>
  <head>
      <meta charset="UTF-8">
          <link rel = "stylesheet" href="css/bootstrap.css">   
       <link rel="stylesheet" type="text/css" href="css/style.css">
    <% include ./header.ejs %>
  </head>
  <body>
    <% include ./body.ejs %>

      
      <p class="text-center">
            HyeongGun Lee
            gudrjs012@gmail.com
            Pusan National University
      </p>
      
      
      
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
     <script type="text/javascript" src="js/bootstrap.js"></script>
  </body>
</html>
