<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
      <link rel = "stylesheet" href="css/bootstrap.css">
       <link rel="stylesheet" type="text/css" href="css/style.css">
    <div class = "profile">
       <div align="center">
        <h2>HyeongGun Lee</h2><br>  
       <img src="/images/profile.jpg" width="300" height="300" title="My face"><br><br>
           <h4>Hi! I'm HyeongGun Lee. I'm senior at Pusan National University majoring in computer science and engineering. </h4>
               <h4>I made this website to share our information about trip!</h4> 
           <h4> I enjoy traveling around the world! I hope you enjoyed this website. </h4>
           <h4>Thanks ! Enjoy your day!</h4><br>
      <h5>부산대학교</h5>
      <h5>정보컴퓨터공학</h5>
      <h5>gudrjs012@gmail.com</h5>
    
           </div>
      </div>
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="js/bootstrap.js"></script>
  </body>
</html>