<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
       <link rel="stylesheet" type="text/css" href="css/style.css">
    <div class = "profile">
       <div align="center">
        HyeongGun Lee<br><br>  
       <img src="/images/profile.jpg" width="200" height="200" title="My face"><br><br>
      부산대학교<br><br>
      정보컴퓨터공학<br><br>
           </div>
      </div>
  </body>
</html>